.home-nav {
  background-color: var(--primary-color);
  padding: 0 var(--spacing-lg);
  box-shadow: var(--box-shadow);
}

.home-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home-nav li {
  margin: 0;
}

.home-nav li:first-child {
  margin-right: auto;
}

.home-nav a {
  display: flex;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-sm);
  text-decoration: none;
  color: var(--neutral-color);
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  border-radius: var(--border-radius-sm);
}

.home-nav a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.home-nav a:not(.nav-title).active {
  background-color: var(--accent-color);
  color: var(--neutral-color);
  font-weight: var(--heading-font-weight);
  border-bottom: 2px solid var(--secondary-color);
}

.home-nav svg {
  margin-right: var(--spacing-sm);
  font-size: 1.2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-nav {
    padding: 0 var(--spacing-md);
  }

  .home-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-nav li {
    margin: var(--spacing-sm) 0;
    width: 100%;
  }

  .home-nav a {
    width: 100%;
    justify-content: flex-start;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: 0.9rem;
  }

  .home-nav svg {
    font-size: 1rem;
  }
}
