.access-page {
  text-align: center;
  padding: var(--spacing-md);
  background-color: var(--neutral-color);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}

.access-icon {
  color: var(--primary-color);
  font-size: 4rem;
  margin-bottom: var(--spacing-md);
}

.access-page h2 {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--heading-font-weight);
  margin-bottom: var(--spacing-sm);
}

.access-page p {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
  margin-bottom: 0;
}
